@{
  Layout="Shared/_Layout.cshtml";
}

<h1>Albums</h1>
@if (@Model["albums"].Count == 0)
{
  <h3>No albums have been added yet!</h3>
} else {
  <h3>Here are all the albums in @Model["category"].GetName():</h3>
  <ol>
  @foreach (var album in @Model["albums"])
  {
    <li>@album.GetTitle()</li>
  }
  </ol>
}
<p><a href='/categories/@Model["category"].GetId()/albums/new'>Add new album</a></p>
<p><a href="/">Back Home</a></p>
